.search-bar {
	margin: 20px;
	text-align: left;
}

.vidSearchLbl {
	padding-right: 10px;
	font-family: sans-serif;
	color: #885053;
	font-size: 20px;
}

.search-bar input {
	width: 25%;
	background-color: #FDF3DB;
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 2px solid #885053;
	border-radius: 4px;
	background-color: #FDF3DB;
}

body {
	background-color: #fcde9c;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fe7f2d' fill-opacity='0.59' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#addAListItemButton {
	margin: 2rem;
}

.btn-primary {
	background-color: #FE7F2D;
	border-color: #FE7F2D;
	color: #FDF3DB;
	margin: 1rem;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #BA5624;
	border-color: #BA5624;
	color: #FDF3DB;
}

.btn-warning, .btn-danger, .btn-info {
	margin: 1rem;
}

.list-group-item {
	background-color: #FDF3DB;
}

.list-group-item span {
	color: #FE7F2D;
}

nav div.container {
	background-color: #FDF3DB;
}